header(class="bg-indigo-600 p-4")
    div(class="container mx-auto flex justify-between items-center")
        h1(class="text-2xl text-white font-extrabold text-center") Bienes Raíces
            span(class="font-normal") Pipo
        nav(class="my-5 text-sm md:flex md:items-center md:gap-3 font-bold text-white hidden")
            a(href="/auth/registro") Crear Cuenta
            a(href="/auth/login") Iniciar Sesión
            a(href="") Conozca más
            a(href="" class="bg-indigo-800 py-2 px-10 rounded-lg" ) Cerrar Sesión

div(class="bg-indigo-700 py-5")
    div(class="container mx-auto flex justify-between")
        a(href="/categorias/1" class="text-sm font-bold uppercase text-white") Apartamentos
        a(href="/categorias/2" class="text-sm font-bold uppercase text-white") Casas
        a(href="/categorias/3" class="text-sm font-bold uppercase text-white") Dépositos
        a(href="/categorias/4" class="text-sm font-bold uppercase text-white") Dúplex
        a(href="/categorias/5" class="text-sm font-bold uppercase text-white") Estancias
        a(href="/categorias/6" class="text-sm font-bold uppercase text-white") Edificios
        a(href="/categorias/7" class="text-sm font-bold uppercase text-white") Locales Comerciales
        a(href="/categorias/8" class="text-sm font-bold uppercase text-white") Oficinas
        a(href="/categorias/9" class="text-sm font-bold uppercase text-white") Terrenos